flask 
Flask-WTF
flask_mail
Flask-Login
flask-mysqldb
Flask-SQLAlchemy
python-dotenv
openpyxl
PyPDF2
reportlab
bcrypt
babel
pytz
flask_talisman
PyPDF2
reportlab
pillow
pandas
deep-translator
google-auth
google-cloud-storage
httpx
psycopg2
flask-cloudflared