{% if database %}
{% for item in database %}
<tr>
    {% if item.status == "Falha ao iniciar" or item.status == "Finalizado"%}
    <th scope="row">{{ item.pid }}</th>
    {% else %}
    <th scope="row"><a href='{{ url_for("logsbot.logs_bot", sid=item.pid) }}'>{{ item.pid }}</a></th>
    {% endif %}

    <td>{{ item.user[0].nome_usuario }}</td>
    <td>{{ item.bot[0].display_name }}</td>
    <td class="text-truncate" style="max-width: 150px;">{{ item.arquivo_xlsx}}</td>
    <td>{{ item.data_execucao}}</td>
    <td class="text-truncate" style="max-width: 150px;">{{ item.status }}</td>
    <td>{{ item.data_finalizacao}}</td>
    {% if item.file_output == "Arguardando Arquivo" %}
    <td>{{ item.file_output }}</td>
    {% else %}
    <td>
        <a href="#" class="btn btn-sm btn-icon-split btn-primary mb-3">
            <span class="icon text-white-50">
                <i class="fa-solid fa-file-csv"></i>
            </span>
            <span class="text">Gerar Relatório</span>
        </a>
    </td>
    {% endif %}
</tr>
{% endfor %}
{% endif %}