<div class="container-fluid px-4">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<form class="card border-0 shadow rounded-3 my-5"
				action="{{ url }}" method="POST"
				enctype="multipart/form-data">
				<h4 class="card-header p-4">{{ display_name }}</h4>
				{% if form %}
                <div class="card-body bg-primary bg-opacity-75 p-4 p-sm-5">
					{{ form.hidden_tag() }}
					<div class="row g-3 rounded justify-content-center p-3">
						{% for field in form %}
						<div class="col-md-10 mb-3 border border-secondary p-2 border-2 rounded bg-white">
							{{ field.label(class="form-label") }}
							{{ field(class="form-control", placeholder=field.label.text) }}
							
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="card-footer d-grid gap-2">
					{{ form.submit(class="btn btn btn-outline-success btn-login fw-semibold", onclick="showLoad()") }}
					<a class="btn btn-outline-primary fw-semibold" href="#">Gerar Modelo</a>
				</div>  
                {% endif %}
			</form>
		</div>
	</div>
</div>