<div class="container-fluid px-4">
    <div class="card mt-4 mb-4">
        <div class="card-header mb-3">
            <h1 class="m-3">{{ title }} - {{ func }}</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <form action="{{ action_url }}" method="post" name="CadastroProcesso">
                    <div class="row g-3 bg-warning bg-opacity-25 rounded justify-content-center p-3">
                        {{ form.hidden_tag() }}

                        <div class="col-10 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                            {{ form.nome_cred.label(class="form-label") }}
                            {{ form.nome_cred(class="form-control", placeholder=form.nome_cred.label.text) }}
                        </div>
                        <div class="col-10 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                            {{ form.system.label(class="form-label") }}
                            {{ form.system(class="form-control", placeholder=form.system.label.text) }}
                        </div>
                        <div class="col-md-10 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                            {{ form.auth_method.label(class="form-label") }}
                            {{ form.auth_method(**{
                                "class":"form-control", "placeholder":form.auth_method.label.text, "onchange": "authMethodChange(this)"})}}
                        </div>
                        <div id="pw" class="col-md-10" style="display: none;">
                            <div class="row">
                                <div class="col-md-6 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                                    {{ form.login.label(class="form-label") }}
                                    {{ form.login(**{"class":"form-control", "placeholder":form.login.label.text}) }}
                                </div>
                                <div class="col-md-6 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                                    {{ form.password.label(class="form-label") }}
                                    {{ form.password(class="form-control", placeholder=form.password.label.text)}}
                                </div>
                            </div>
                        </div>
                        <div id="cert" class="col-md-10" style="display: none;">
                            <div class="row">
                                <div class="col-md-6 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                                    {{ form.cert.label(class="form-label") }}
                                    {{ form.cert(**{"class":"form-control", "placeholder":form.cert.label.text}) }}
                                </div>
                                <div class="col-md-6 mb-3 border border-secondary p-2 border-2 rounded bg-primary bg-opacity-25">
                                    {{ form.key.label(class="form-label") }}
                                    {{ form.key(**{"class":"form-control", "placeholder":form.key.label.text}) }}
                                </div>
                            </div>
                        </div>   
                    </div>
                    <hr>
                    <div class="d-grid gap-2 mb-3">
                        {{ form.submit(class="fst-italic fs-5 btn btn-success fw-bold") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>